
body {
max-width: 1920px;
min-width: 700px;
margin: 0 auto;
background: #EAE8E4;
height: auto;
cursor: url("../images/curs2.png"), auto;
}
body:active{
  cursor: url("../images/curs.png"), auto;
}

/* красные ромбики ◊ */
#red{
  position: relative;
  width: .7vw;
  height: .7vw;
  rotate: 45deg;
  background-color: #F43745;
}
/* стандартые квабратные блоки ◊ */
#thing1{
  width: 25vw;
  height: 25vw;
  border: solid;
  border-width: .2vw;
  border-color: #00B7FF;
  overflow: hidden;
}
/* большой блок ◊ */
#thing2{
  width: 56.4vw;
  height: 40vw;
  border: solid;
  border-width: .2vw;
  border-color: #00B7FF;
  overflow: hidden;
}
/* высокий блок ◊ */
#thing3{
  width: 25vw;
  height: 40vw;
  border: solid;
  border-width: .2vw;
  border-color: #00B7FF;
  overflow: hidden;
}
/* длинный блок ◊ */
#thing4{
  width: 56.5vw;
  height: 25vw;
  border: solid;
  border-width: .2vw;
  border-color: #00B7FF;
  overflow: hidden;
}

/* голова ◊ */
.head{
  display: flex;
  gap: 1vw;
  margin: 5vw;
}
.zak{
  width: 50vw;
  position: relative;
  margin: 0 auto;
}
.string{
  position: relative;
  background-color: #00B7FF;
  width: .2vw;
  height: 10vw;
  right: 10vw;
  bottom: 7.5vw;
}
.switch{
  position: relative;
  border: solid;
  border-width: .2vw;
  border-color: #00B7FF;
  border-radius: 100%;
  width: 1.5vw;
  height: 2.5vw;
  right: 10vw;
  top: 2.5vw;
  right: 12.03vw;
}

/* строки */
.stroka1, .stroka2, .stroka3, .podval {
  display: flex;
  gap: 6vw;
  margin: 5vw;
}

/* строка 1 */
.dzin{
  position: absolute;
  width: 20vw;
  top: 20vw;
  opacity: 0%;
  animation: 2s appear infinite;
  animation-play-state: paused;
}
.block1left, .blok1centre, .block1right, .block2left, .blok2centre, {
  overflow: hidden;
}

  /* блок 1*/
  .block1left{
    position: relative;
    margin-right: 0 auto;
  }
    .block1_shake{
      position: relative;
      width: 25vw;
      height: 25vw;
      animation: block1_shake 2s infinite;
    }
      .bokal1{
        position: relative;
        left: -11vw;
        top: 7.5vw;
        width: 22vw;
        animation: bokal1_hit 1s infinite alternate;
      }
      .bokal1_line{
        position: relative;
        left: 0.35vw;
        top: -9.6vw;
        width: 11vw;
      }
      .red1left{
        bottom: 14.35vw;
        right: -9vw;
      }
      .bokal2{
        position: relative;
        left: 13.7vw;
        bottom: 6.74vw;
        width: 22.2vw;
        animation: bokal2_hit 1s infinite alternate;

      }
      .bokal2_line{
        position: relative;
        right: -13.5vw;
        top: -14.81vw;
        width: 11vw;
      }
      .red2left{
        top: -19.52vw;
        right: -15.2vw;
      }

  /* блок 1 - анимации*/
  @keyframes block1_shake {
    0% {bottom: 11.5vw;}
    50% {bottom: 14vw;}
    100% {bottom: 11.5vw;}
  }
  @keyframes bokal1_hit {
    0% {right: 12vw;}
    100% {right: 12vw;}
  }
  @keyframes bokal2_hit {
    0% {right: -296px;}
    100% {right: -246px;}
  }
  @keyframes appear {
    0% {top: 20vw; opacity: 0%;}
    50% { opacity: 100%;}
    100% {top: 0vw; opacity: 0%;}
  }


  /* блок 2*/
    .block1centre{
      position: relative;

    }
      .nlo1{
        position: relative;
        width: 16vw;
        margin: 0 auto;
        top: 10vw;
        left: 5vw;
      }
      .nlo1_line{
        position: relative;
        width: 16vw;
        top: 4vw;
        margin: 0 auto;
        left: 10vw;
        animation: block1centre_shake 2s infinite alternate;
      }
      .block1centr_shake_red{
        position: relative;
        width: 25vw;
        height: 25vw;
        background-color:;
        top: 10vw;
        animation: block1centr_shake_red 3s infinite;
      }
      .red1centre{
        position: relative;
        top: 10vw;
        left: 17vw;
      }
      .red2centre{
        position: relative;
        top: 20vw;
        left: 7vw;
      }
      .red3centre{
        position: relative;
        top: 5vw;
        left: 4vw;
      }

    /* блок 2 - анимации*/
      @keyframes block1centre_shake {
        0% { left: 3vw;}
        100% { left: 7vw;}
      }
      @keyframes block1centr_shake_red {
        0% {top: -13vw; left: 1vw}
        25% {top: -10vw; left: 3vw}
        50% {top: -13vw; left: 6vw}
        75% {top: -10vw; left: 3vw}
        100% {top: -13vw; left: 1vw}
      }

  /* блок 3*/
    .block1right{
      display: flex;
      margin-right: 0 auto;
    }
      .station{
        position: relative;
        width: 14vw;
        top: -3vw;
        left: 10vw;
      }
      .station_line{
        position: relative;

        animation: block3_shake 10s infinite;
      }
      .line1{
        position: relative;
        width: .2vw;
        height: 9vw;
        background-color: #00B7FF;
        bottom: 1vw;
        left: 1vw;
        animation: line1_shake 1s infinite alternate;
      }
      .line2{
        position: relative;
        width: .2vw;
        height: 3vw;
        background-color: #00B7FF;
        top: 1vw;
        left: 1vw;
        animation: line2_shake 1s infinite alternate;
      }
      .red1right{
      position: relative;
      top: 3vw;
      left: -5vw;
      animation: 2s block3_red1_glow 2s infinite alternate;
      }
      .red2right{
      position: relative;
      top: 6vw;
      left: 8vw;
      animation: block3_red2_glow 2s infinite alternate;
      }
      .red3right{
      position: relative;
      top: 22vw;
      left: 3vw;
      animation: 1s block3_red2_glow 2s infinite alternate;
      }
  /* блок 3 - анимации*/
      @keyframes block3_shake {
        0% {rotate: 0deg;}
        25% {rotate: 90deg;}
        50% {rotate: 180deg;}
        75% {rotate: 260deg;}
        100% {rotate: 360deg;}
      }
      @keyframes line1_shake {
        0%{rotate: 45deg; left: -10vw; top: 15vw;}
        100%{rotate: 45deg; left: -7vw; top: 13vw;}
      }
      @keyframes line2_shake {
        0%{rotate: 20deg; left: -3vw; top: 17vw;}
        100%{rotate: 20deg; left: -4vw; top: 20vw;}
      }
      @keyframes block3_red1_glow {
        0% {opacity: 100%}
        100% {opacity: 0%}
      }
      @keyframes block3_red2_glow {
        0% {opacity: 100%}
        100% {opacity: 0%}
      }
      @keyframes block3_red3_glow {
        0% {opacity: 100%}
        100% {opacity: 0%}
      }

/*строка 2*/
    .block2left, .block2right, {
      overflow: hidden;
      }

  /*(строка 2) блок 1*/
    .shaker{
      position: absolute;
      width: 20vw;
      height: 20vw;
      right: 0vw;
      z-index: 1;
      cursor: move;
    }
    #mydiv {
      position: absolute;
      z-index: 9;
      width: 12vw;
      height: 20vw;
    }
  /*(строка 2) блок 2*/
    .guitar{
      position: relative;
      width: 50vw;
      height: 50vw;
      rotate: -20deg;
      bottom: 7vw;
      right: 13vw;
    }
    .guitar_line{
      position: relative;
      width: 50vw;
      height: 50vw;
      rotate: -20deg;
      bottom: 56.5vw;
      right: 15.27vw;
    }
    .strings_line{
      position: relative;
      width: 50vw;
      height: 50vw;
      rotate: -20deg;
      bottom: 105vw;
      right: 15.45vw;
    }
  /*(строка 3) блок 1*/
    .nlo2_line{
      position: relative;
      width: 14vw;
      height: 14vw;
      left: 5.3vw;
      top: -1vw;
    }
    .light{
      position: relative;
      width: 13vw;
      height: 13vw;
      left: 5.8vw;
      top: -5vw;
    }
    .luchi_light{
      position: relative;
      width: 15vw;
      height: 15vw;
      left: 4.9vw;
      top: -19.5vw;
      animation: 1s block3_red2_glow 2s infinite alternate;
    }
  /*(строка 3) блок 2*/
    .micro{
      z-index: 2;
      position: relative;
      width: 8vw;
      right: 25vw;
      top: 7vw;
    }
    .micro_line{
      z-index: 3;
      position: relative;
      width: 8vw;
      left: 23.5vw;
      top: -4.5vw;
    }
    .scene_line{
      position: relative;
      width: 60vw;
      left: -1.5vw;
      top: -12vw;
    }
    .heads1_line{
      position: relative;
      left: -1.5vw;
      top: 1vw;
    }
    .heads2_line{
      position: relative;
      left: 10vw;
      top: 0.6vw;
    }
    .red7left {
      position: relative;
      bottom: 29vw;
      left: 4vw;
      animation: red7left 2s infinite;
    }
    .red7centre {
      position: relative;
      bottom: 31vw;
      left: 12vw;
      animation: red7centre 2s infinite;
    }
    .red7rigth {
      position: relative;
      bottom: 31vw;
      left: 40vw;
      animation: red7right 2s infinite;
    }
    .red7rigth2 {
      position: relative;
      bottom: 30.5vw;
      left: 52vw;
      animation: red7right2 2s infinite;
    }

    @keyframes red7left {
      0% {bottom: 29vw; opacity: 0%}
      70% {opacity: 100%}
      100% {bottom: 35vw;  opacity: 0%}
    }
    @keyframes red7centre {
      0% {bottom: 31vw; opacity: 0%}
      70% {opacity: 100%}
      100% {bottom: 37vw;  opacity: 0%}
    }
    @keyframes red7right {
      0% {bottom: 31vw; opacity: 0%}
      70% {opacity: 100%}
      100% {bottom: 37vw;  opacity: 0%}
    }
    @keyframes red7right2 {
      0% {bottom: 30.5vw; opacity: 0%}
      70% {opacity: 100%}
      100% {bottom: 36.5vw;  opacity: 0%}
    }
  /*подвал*/
  .fio{
    width: 20vw;
    position: relative;
    right: 1vw;
    top: 1.5vw;
  }
  .logo{
    position: relative;
    width: 20vw;
    left: 37vw;
    top: 1.5vw;
  }
}
